In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

data_path = Path("../datasets/raw_UKReg/")

In [2]:
raw_regs = pd.read_csv(data_path / "liver_registrations.csv")

raw_regs

/home/bcebere/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3398: DtypeWarning: Columns (63) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,a_registration_id,a_recip_id,a_tx_unit,NO_OF_PREVIOUS_LIVER_TX,PRIMARY_LIVER_DISEASE,SECONDARY_LIVER_DISEASE,TERTIARY_LIVER_DISEASE,HEIGHT,CHRONIC_LIVER_DISEASE,CHRONIC_HCC,...,RENAL_SUPPORT,ENCEPHALOPATHY_GRADE,PREV_ABDOMINAL_SURGERY,CURRENT_ASCITES,DIABETIC,GRAFT_NO,rwtime,reg_age,regyr,outcome
0,25,7375,3.0,NaN,424,888,888,164.0,8,8,...,8,8,8,8,8,1.0,0,44,1997,T
1,37,23551,2.0,NaN,461,888,888,177.0,8,8,...,8,8,8,8,8,1.0,204,36,1997,T
2,55,30169,5.0,NaN,417,888,888,175.0,8,8,...,8,8,8,8,8,NaN,752,38,1997,D
3,61,32479,2.0,NaN,498,888,888,155.0,8,8,...,8,8,8,8,8,NaN,71,47,2002,D
4,67,38173,2.0,NaN,423,888,888,144.0,8,8,...,8,8,8,8,8,1.0,222,29,1997,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18043,680383,1377253,7.0,0.0,419,424,888,174.0,2,1,...,3,0,1,2,1,NaN,3,54,2020,A
18044,680389,1377259,2.0,0.0,419,888,888,186.0,2,1,...,3,1,1,2,1,NaN,3,47,2020,A
18045,680497,1377277,NaN,0.0,414,888,888,180.0,2,1,...,1,4,2,3,1,NaN,3,35,2020,A
18046,680737,1377397,5.0,0.0,426,424,888,182.0,2,1,...,3,1,2,3,1,NaN,2,64,2020,A
18047,680743,1377403,2.0,0.0,414,888,888,182.0,2,1,...,3,0,2,1,1,NaN,2,32,2020,A

In [3]:
raw_trans = pd.read_csv(data_path / "liver_transplant.csv")

raw_trans

,TXID,REGID,TX_YR,FIN_YR,REREG,REREG_YR,RE_TXD,NEXT_TX,TX_TYPE,MULTI_TX,...,TSURV,TCENS,GSURV,GCENS,GSTATUS,LASTSTAT,LAST_GRAFT_NO,PSURV,PCENS,RWEIGHT_LATEST
0,971893,54805,1998,1998/1999,0,NaN,0,NaN,40,0,...,5811,0.0,5811.0,0.0,1.0,1.0,1,5811.0,0.0,66.0
1,971905,54811,1999,1999/2000,0,NaN,0,NaN,40,0,...,3066,1.0,3066.0,0.0,3.0,3.0,1,3066.0,1.0,49.0
2,971911,37291,1995,1995/1996,0,NaN,0,NaN,40,0,...,6383,0.0,6383.0,0.0,1.0,1.0,1,6383.0,0.0,50.0
3,971923,55855,1999,1998/1999,1,2010.0,0,NaN,40,0,...,4223,1.0,4223.0,1.0,2.0,2.0,1,4223.0,1.0,88.0
4,971929,49213,1997,1997/1998,0,NaN,0,NaN,40,0,...,3107,0.0,3107.0,0.0,1.0,1.0,1,3107.0,0.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14163,2135311,639091,2020,2019/2020,0,NaN,0,NaN,40,0,...,-100,NaN,-100.0,NaN,NaN,NaN,1,NaN,NaN,102.0
14164,2135317,665257,2020,2019/2020,0,NaN,0,NaN,40,0,...,-100,NaN,-100.0,NaN,NaN,NaN,1,NaN,NaN,61.9
14165,2135329,677017,2020,2019/2020,1,2020.0,0,NaN,40,0,...,-100,NaN,-100.0,NaN,NaN,NaN,1,NaN,NaN,90.0
14166,2135347,674263,2020,2019/2020,0,NaN,0,NaN,40,0,...,-100,NaN,-100.0,NaN,NaN,NaN,1,NaN,NaN,59.3
14167,2135377,679063,2020,2019/2020,0,NaN,0,NaN,40,0,...,-100,NaN,-100.0,NaN,NaN,NaN,1,NaN,NaN,72.0

In [33]:
#full_df = pd.merge(raw_regs, raw_trans, left_on = 'a_registration_id', right_on = 'REGID')
raw_regs.loc[:, 'RECIPID'] = raw_regs['a_recip_id']
full_df = raw_regs.merge(raw_trans, how='left', on='RECIPID')

full_df.loc[:, "SERUM_POTASSIUM"] = full_df["SERUM_POTASSIUM"].replace([99.9], np.nan)
full_df.loc[:, "AFP_LEVEL"] = full_df["AFP_LEVEL"].replace([99999, 88888], np.nan)
full_df.loc[full_df['outcome'].isin(['A', 'T']), 'rwtime'] = np.nan
full_df.loc[:, 'PSURV'] = full_df['PSURV'].replace(np.nan, 0)
full_df.loc[:, 'rwtime'] = full_df['rwtime'].replace(np.nan, 0)


full_df = full_df[full_df['INR'].notna()]
full_df = full_df[full_df['outcome'].notna()]
full_df = full_df[full_df['SEX'].notna()]
full_df = full_df[full_df['SEX'] != 8]
full_df = full_df[full_df['SERUM_BILIRUBIN'].notna()]
full_df = full_df[full_df['INR'].notna()]
full_df = full_df[full_df['SERUM_CREATININE'].notna()]
full_df = full_df[full_df['SERUM_SODIUM'].notna()]


full_df.loc[:, 'Y'] = full_df['rwtime'] + full_df['PSURV']
full_df = full_df[full_df['Y'] > 0]
full_df = full_df.fillna(0)

full_df["CENS"] =  (full_df.outcome != 'T').astype(int)
full_df["CENS"].value_counts()

0    8858
1    2807
Name: CENS, dtype: int64

In [34]:
with_transplant = full_df[full_df["CENS"] == 0].copy()
no_transplant = full_df[full_df["CENS"] == 1].copy()

In [35]:
with_transplant

,a_registration_id,a_recip_id,a_tx_unit,NO_OF_PREVIOUS_LIVER_TX,PRIMARY_LIVER_DISEASE,SECONDARY_LIVER_DISEASE,TERTIARY_LIVER_DISEASE,HEIGHT,CHRONIC_LIVER_DISEASE,CHRONIC_HCC,...,GSURV,GCENS,GSTATUS,LASTSTAT,LAST_GRAFT_NO,PSURV,PCENS,RWEIGHT_LATEST,Y,CENS
8,97,53137,3.0,0.0,424,888,888,164.0,8,8,...,280.0,1.0,2.0,2.0,1.0,280.0,1.0,0.0,280.0,0
9,103,57019,3.0,0.0,438,888,888,162.0,8,8,...,2411.0,0.0,3.0,3.0,1.0,2411.0,1.0,67.0,2411.0,0
177,24271,311329,6.0,0.0,417,888,888,172.0,8,8,...,5523.0,0.0,1.0,1.0,1.0,5523.0,0.0,101.1,5523.0,0
305,33343,372115,5.0,0.0,418,888,888,167.0,8,8,...,3920.0,1.0,2.0,3.0,3.0,3968.0,1.0,0.0,3968.0,0
308,33349,372115,5.0,0.0,418,888,888,167.0,8,8,...,3920.0,1.0,2.0,3.0,3.0,3968.0,1.0,0.0,3968.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19457,667057,1282369,6.0,1.0,478,888,888,184.0,2,1,...,85.0,1.0,2.0,2.0,2.0,85.0,0.0,108.1,85.0,0
19462,667303,1370041,5.0,0.0,419,888,888,168.0,2,1,...,6.0,1.0,2.0,2.0,2.0,6.0,0.0,72.3,6.0,0
19478,668377,1311817,6.0,1.0,498,888,888,169.0,2,1,...,241.0,1.0,2.0,2.0,2.0,241.0,0.0,50.2,241.0,0
19493,669337,1371523,0.0,0.0,442,419,888,168.0,2,2,...,2.0,1.0,2.0,2.0,2.0,2.0,0.0,90.0,2.0,0
19541,674137,1359265,2.0,1.0,478,888,888,187.0,2,1,...,116.0,1.0,2.0,2.0,2.0,116.0,0.0,85.9,116.0,0

In [36]:
# Helpers for data conversion


def meld_observed_mortality(score: float) -> float:
    if score >= 40:
        return 71.3
    elif score >= 30:
        return 52.6
    elif score >= 20:
        return 19.6
    elif score >= 10:
        return 6.0
    else:
        return 1.9


def ukeld_eligibility(score: float) -> int:
    return int(score >= 49)


def parse_bilirunbin_meld(val: float) -> float:
    return max(val / 17.1, 1)


def parse_bilirunbin_ukeld(val: float) -> float:
    return max(val, 1)


def parse_inr(val: float) -> float:
    return max(val, 1)


def parse_creatinine_meld(val: float) -> float:
    val = val / 88.42
    return min(max(val, 1), 4)


def parse_creatinine_ukeld(val: float) -> float:
    return min(max(val, 1), 400)


def parse_sodium(val: float) -> float:
    return min(max(val, 125), 140)


def parse_albumin(val: float) -> float:
    # g/l -> g/dL
    return val / 10

In [37]:
# MELD
from organsync.models.linear import MELD
import math

def meld_inference(data: pd.DataFrame) -> dict:
    serum_bilirubin = parse_bilirunbin_meld(data["SERUM_BILIRUBIN"])
    inr = parse_inr(data["INR"])
    serum_creatinine = parse_creatinine_meld(data["SERUM_CREATININE"])
    score = MELD().score(
        serum_bilirubin=serum_bilirubin, inr=inr, serum_creatinine=serum_creatinine
    )
    rounded_score = math.ceil(score)

    return rounded_score

In [38]:
# MELD na

import math
from organsync.models.linear import MELD_na


def meld_na_inference(data: pd.DataFrame) -> int:
    serum_bilirubin = parse_bilirunbin_meld(data["SERUM_BILIRUBIN"])
    inr = parse_inr(data["INR"])
    serum_creatinine = parse_creatinine_meld(data["SERUM_CREATININE"])
    sodium = parse_sodium(data["SERUM_SODIUM"])
    score = MELD_na().score(
        serum_bilirubin=serum_bilirubin,
        inr=inr,
        serum_creatinine=serum_creatinine,
        serum_sodium=sodium,
    )

    return math.ceil(score)

In [39]:
# MELD3

import math
from organsync.models.linear import MELD3


def meld3_inference(data: pd.DataFrame) -> int:
    sex = "M" if data["SEX"] == 1 else "F"
    serum_bilirubin = parse_bilirunbin_meld(data["SERUM_BILIRUBIN"])
    inr = parse_inr(data["INR"])
    serum_creatinine = parse_creatinine_meld(data["SERUM_CREATININE"])
    sodium = parse_sodium(data["SERUM_SODIUM"])
    albumin = parse_albumin(data["RALBUMIN"])

    score = MELD3().score(
        sex = sex,
        serum_bilirubin=serum_bilirubin,
        inr=inr,
        serum_creatinine=serum_creatinine,
        serum_sodium=sodium,
        serum_albumin = albumin,
    )

    return math.ceil(score)

In [40]:
#UKELD
from organsync.models.linear import UKELD

def ukeld_inference(data: pd.DataFrame) -> int:
    serum_bilirubin = parse_bilirunbin_ukeld(data["SERUM_BILIRUBIN"])
    inr = parse_inr(data["INR"])
    serum_creatinine = parse_creatinine_ukeld(data["SERUM_CREATININE"])
    sodium = data["SERUM_SODIUM"]

    score = UKELD().score(
        serum_bilirubin=serum_bilirubin,
        inr=inr,
        serum_creatinine=serum_creatinine,
        serum_sodium=sodium,
    )

    return math.ceil(score)

In [41]:
#list(with_transplant.columns)
with_transplant.loc[:, "MELD"] = with_transplant.apply(lambda row: meld_inference(row), axis = 1)
no_transplant.loc[:, "MELD"] = no_transplant.apply(lambda row: meld_inference(row), axis = 1)

In [42]:
with_transplant.loc[:, "MELD_na"] = with_transplant.apply(lambda row: meld_na_inference(row), axis = 1)
no_transplant.loc[:, "MELD_na"] = no_transplant.apply(lambda row: meld_na_inference(row), axis = 1)

In [43]:
with_transplant.loc[:, "MELD3"] = with_transplant.apply(lambda row: meld3_inference(row), axis = 1)
no_transplant.loc[:, "MELD3"] = no_transplant.apply(lambda row: meld3_inference(row), axis = 1)

In [44]:
with_transplant.loc[:, "UKELD"] = with_transplant.apply(lambda row: ukeld_inference(row), axis = 1)
no_transplant.loc[:, "UKELD"] = no_transplant.apply(lambda row: ukeld_inference(row), axis = 1)

In [45]:
stats_cols = ["MELD", "MELD_na", "MELD3", "UKELD", "Y"]

with_transplant[stats_cols]

       MELD  MELD_na  MELD3  UKELD       Y
8        13       13     14     43   280.0
9        14       14     14     43  2411.0
177      21       23     24     47  5523.0
305       9        9     10     44  3968.0
308      22       23     24     47  3968.0
...     ...      ...    ...    ...     ...
19457    26       29     30     48    85.0
19462    18       23     22     50     6.0
19478    28       32     35     51   241.0
19493     9        9      8     44     2.0
19541    18       18     20     44   116.0

[8858 rows x 5 columns]

In [48]:
import json


def generate_stats(data: pd.DataFrame):
    metrics = {}

    for key in ["MELD", "MELD_na", "MELD3", "UKELD"]:
        metrics[key] = {}

        for val in data[key].unique():
            if np.isnan(val):
                continue
        
            ymed = data[data[key] == val]["Y"].median()
            ymax = data[data[key] == val]["Y"].max()
            ymin = data[data[key] == val]["Y"].min()

            metrics[key][int(val)] = {
                "min" : ymin,
                "max" : ymax,
                "median" : ymed,
                }
    return metrics

surv_stats_with_transplant = generate_stats(with_transplant)
surv_stats_no_transplant = generate_stats(no_transplant)

In [49]:
metrics = {
    "with_transplant": surv_stats_with_transplant,
    "no_transplant": surv_stats_no_transplant,
}
with open("models/model_stats.json", "w") as f:
    json.dump(metrics, f, indent=4, sort_keys=True)